/system/*
/.phpintel/*
/.htaccess
/index.php
*.sublime*
/application/hooks/*
/application/config/*
!auth.php
!config.php
!autoload.php
!migrations.php
!constants.php
!database.php
!email.php
!migration.php
/application/cache/*
/application/core/*
/application/data/*
/application/language/english/*
/application/logs/*
/application/middlewares/*
/application/templates/*
/application/third_party/*
/application/views/errors/*
/application/views/user/*
/.vscode/*
/assets/img/profile/*
!user_default.jpg