@font-face {
    font-family: digitalt;
    src: url(Digitalt.ttf);
}

@font-face {
    font-family: calibri;
    src: url(calibri.ttf);
}


body{
	font-family: calibri;

}

h1, h2, h3{
	font-family: digitalt;
}
h1{
	font-size: 60px;
}


